.panel.panel-default.devise-panel
  .panel-heading
    %h2.text-uppercase.text-center Railway Mrkt.
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        .input-text-wrap
          = f.label 'Email Addresss', class: 'input-text-label'
          = f.input :email, required: true, label: false
        .input-text-wrap
          = f.label 'First Name', class: 'input-text-label'
          = f.input :first_name, required: true, label: false
        .input-text-wrap
          = f.label 'Last Name', class: 'input-text-label'
          = f.input :last_name, required: true, label: false
        .input-text-wrap
          = f.label 'Create a Password', class: 'input-text-label'
          = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false
        .input-text-wrap
          = f.label 'Confirm a Password', class: 'input-text-label'
          = f.input :password_confirmation, required: true, label: false

        .form-actions.text-center
          = f.button :submit, 'Create Account', class: 'btn btn-success btn-block'
          %p or
          = link_to 'Sign Up with Google', omniauth_authorize_path(resource_name, :google_oauth2)
          %hr
          %p Already have an account?


