.container
  .row
    .col-sm-offset-4.col-sm-4.text-center
      %h1 Unit #{params[:unit_number]}
      %p Sorry, this unit doesn't exist or it's no longer available.

      .input-text-wrap
        = form_tag search_path, method: :get do
          = label_tag 'Example 303', nil, class: 'input-text-label'
          = text_field_tag 'unit_number'

      = link_to 'Explore Available Units', unit_types_path, class: 'btn btn-success'
