.modal.fade#reset-password-modal{ tabindex: '-1', role: 'dialog', 'aria-labelledby': '#modal-label' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-body
        .panel.panel-default.devise-panel
          .panel-heading
            .heading-container
              %h2.text-uppercase.text-center WEST <strong>MRKT.</strong>
              %h2.text-center Reset your password
              %p{ style: 'margin: 30px 0;' } Enter your email address and we will send you a link to reset your password.
              = simple_form_for(resource, as: resource_name, url: password_path(resource_name), remote: true, html: { method: :post, class: 'reset-password-user' }) do |f|
                = f.error_notification
                .form-inputs
                  .input-text-wrap
                    = f.label 'Enter your email address', class: 'input-text-label'
                    = f.input :email, required: true, autofocus: true, label: false
                    %span.form-control-feedback{ style: 'color: #64C879;' }= fa_icon 'check'
                .form-actions.text-center
                  = f.button :submit, 'Send Reset Link', class: 'btn btn-info btn-block btn-signup'
