.saved-unit
  %h2 Unit #{liked_unit.unit.unit_number} &#9632; $#{price_converter(liked_unit.unit.price)} &#9632; CAD &#8593; #{liked_unit.unit.orientation}
  = image_tag('icons/dark.svg', class: 'close-icon hidden')
  %p.people-saved #{liked_unit.unit.users.count} people added to saved
  .btn-checkout-container.hidden
    %button.btn.btn-success Proceed to Checkout
    %button.btn.btn-view= link_to 'View', unit_path(liked_unit.unit)
