.saved-unit{ data: { unit_id: liked_unit.unit.id } }
  %h2 Unit #{liked_unit.unit.unit_number} #{fa_icon 'square', class: 'square-icon'} $#{price_converter(liked_unit.unit.price)} CAD #{fa_icon 'square', class: 'square-icon'} &#8593; #{liked_unit.unit.orientation}
  = image_tag('icons/delete-icon.svg', class: 'delete-icon hidden', data: { url: unlike_unit_path(liked_unit.unit) } )
  %p.people-saved #{pluralize(liked_unit.unit.users.count, 'person')} added to saved
  .btn-checkout-container.hidden
    - if sale_state == 'pre_sale_not_started'
      %button.btn.btn-success.btn-checkout{ disabled: true } Proceed to Checkout
      = link_to unit_type_unit_path(liked_unit.unit.unit_type, liked_unit.unit) do
        %button.btn.btn-view{style: 'color: black;'} View
      %p.checkout-message{style: 'color: black;'} Pre-sale will be available soon
    - elsif sale_state == 'pre_sale_ended'
      %button.btn.btn-success.btn-checkout{ disabled: true } Proceed to Checkout
      = link_to unit_type_unit_path(liked_unit.unit.unit_type, liked_unit.unit) do
        %button.btn.btn-view{style: 'color: black;'} View
      %p.checkout-message{style: 'color: black;'} Pre-sale has ended
    - elsif current_user.confirmed?
      - if (current_user.orders.successful.count > 0 || current_user.orders.pending_verification.count > 0) && !current_user.allow_multiple_orders
        %button.btn.btn-success.btn-checkout{ disabled: true } Proceed to Checkout
        = link_to unit_type_unit_path(liked_unit.unit.unit_type, liked_unit.unit) do
          %button.btn.btn-view{style: 'color: black;'} View
        %p.checkout-message{style: 'color: black;'}
          Contact
          :erb
            <%= mail_to "help@lowerjct.com", nil, style: "font-weight: bold; text-decoration: underline; color: black;" %>
          to purchase more units
      - else
        = link_to new_unit_order_path(liked_unit.unit), class: 'link-no-decoration' do
          %button.btn.btn-success.btn-checkout Proceed to Checkout
        = link_to unit_type_unit_path(liked_unit.unit.unit_type, liked_unit.unit) do
          %button.btn.btn-view{style: 'color: black;'} View
    - else
      %button.btn.btn-success.btn-checkout{ disabled: true } Proceed to Checkout
      = link_to unit_type_unit_path(liked_unit.unit.unit_type, liked_unit.unit) do
        %button.btn.btn-view{style: 'color: black;'} View
      %p.checkout-message{style: 'color: black;'} Please check your email to confirm your email address before continuing.

