.saved-unit{ data: { unit_id: liked_unit.unit.id } }
  %h2 Unit #{liked_unit.unit.unit_number} &#9632; $#{price_converter(liked_unit.unit.price)} &#9632; CAD &#8593; #{liked_unit.unit.orientation}
  = image_tag('icons/dark-close.svg', class: 'close-icon hidden', data: { url: unlike_unit_path(liked_unit.unit) } )
  %p.people-saved #{pluralize(liked_unit.unit.users.count, 'person')} added to saved
  .btn-checkout-container.hidden
    = link_to new_unit_order_path(liked_unit.unit) do
      %button.btn.btn-success{ disabled: !current_user.confirmed? } Proceed to Checkout
    = link_to unit_type_unit_path(liked_unit.unit.unit_type, liked_unit.unit) do
      %button.btn.btn-view{style: 'color: black;'} View
