.saved-unit{ data: { unit_id: liked_unit.unit.id } }
  %h2 Unit #{liked_unit.unit.unit_number} &#9632; $#{price_converter(liked_unit.unit.price)} &#9632; CAD &#8593; #{liked_unit.unit.orientation}
  = image_tag('icons/dark.svg', class: 'close-icon hidden', data: { url: unlike_unit_path(liked_unit.unit) } )
  %p.people-saved #{liked_unit.unit.users.count} people added to saved
  .btn-checkout-container.hidden
    %button.btn.btn-success= link_to 'Proceed to Checkout', new_unit_order_path(liked_unit.unit)
    %button.btn.btn-view= link_to 'View', unit_path(liked_unit.unit)
