.panel.panel-default.unit-panel{data: {url: unit_path(unit) }}
  .panel-body
    - unit_type = unit.unit_type
    %h1= unit_type.name
    - den_string = unit_type.balcony ? "balcony" : "no balcony"
    - balcony_string = unit_type.den ? "den" : "no den"
    - bathroom_string = unit_type.number_of_bathrooms > 1 ? "#{unit_type.number_of_bathrooms} bathrooms" : "#{unit_type.number_of_bathrooms} bathroom"
    %p #{unit_type.interior_sqft} SQFT interior with #{unit_type.number_of_bedrooms} and #{den_string} and #{balcony_string} and #{bathroom_string}
    .view-container{style: 'display: flex; align-items: center; height: 25px;'}
      %p.view-text.hidden{style: 'margin: 0; margin-right: 10px; font-size: 14px;'} View
      = image_tag('icons/arrow-right-dark.svg')
  .panel-footer{ style: 'display: flex; width: 100%; padding: 0px;' }
    .units-left{ style: 'width: 50%; padding: 10px 15px;' }
      %p <strong>Only #{unit_type.quantity_remaining} units left</strong>
    .price-container{ style: 'background: #1a1a1a; width: 50%; padding: 10px 20px;' }
      %p{ style: 'color: white;' } For $#{price_converter(unit.price)} #{unit.currency}
      %p{ style: 'color: #00aaff;' } Save $#{price_converter(unit.savings)} #{unit.currency}
