= form_tag(unit_types_path, method: :get) do
  .row
    .col-xs-12
      .countdown-message.text-center
        - case sale_state
        - when 'pre_sale_not_started'
          %h1{ style: 'color: white;' } Pre-Sale starting in
          .countdown{data: { epoch_time: @epoch_time } }
        - when 'pre_sale_started'
          %h1{ style: 'color: white;' } Pre-Sale ending in
          .countdown{data: { epoch_time: @epoch_time } }
        - when 'pre_sale_closed'
          %h1{ style: 'color: white;' } Pre-Sale closed

        .search-container{ style: 'color: white;' }
          %p{ style: 'display: inline-block;' } I'm looking for
          .select-container{ style: 'width: 170px; display: inline-block;' }
            - options = @options.map { |unit_type| (unit_type.number_of_bedrooms == 3 ? '3+' : unit_type.number_of_bedrooms.to_s) + ' bedroom units' }
            = select_tag 'number_of_bedrooms', options_for_select(options), class: 'selectize'

  .row
    .col-xs-12.text-center
      = submit_tag 'Search', class: 'btn btn-lg btn-search'

.container{style: 'margin-top: 30px;'}
  .row
    .col-xs-12
      .save-info
        %h2 <strong>Save up to 20%</strong> when buying online
        %h3{style: 'margin-top: 20px;'} Welcome to the new way of buying preconstruction condominiums. Pay a $3500 refundable deposit online to lock in at an online exclusive price up to 20% off list price, and reserve your unit. Complete the paperwork in person at the Junction Gallery within 10 days to finalize your purchase.

        = link_to '#' do
          %p.link-how-does-it-work How does it work?

.trending-container
  .container
    .row
      .col-xs-12
        .explore-container
          .explote-sub-container
            .explore-text
              %h1{style: 'color: white;'} Explore WEST MRKT
              = image_tag('icons/arrow-right-light.svg')
            .image-container{style: 'display: flex; justify-content: center;'}
              = image_tag('img-explore-railway-market.jpg', class: 'img-responsive')
    -#
      %h1{ style: 'margin-bottom: 40px;' } Trending layouts
      .row
        - Unit.limit(5).order('RANDOM()').each do |unit|
          .col-md-6
            = render 'shared/unit_card', unit: unit