= form_tag(unit_types_path, method: :get) do
  .container-fluid.special
    .row
      .col-xs-12
        .countdown-message.text-center
          .countdown-container
            - case sale_state
            - when 'pre_sale_not_started'
              %h2.pre-sale Pre-sale starting in
              .countdown{ data: { epoch_time: @epoch_time } }
            - when 'pre_sale_started'
              %h2.pre-sale Pre-sale ending in
              .countdown{ data: { epoch_time: @epoch_time } }
            - when 'pre_sale_closed'
              %h2.pre-sale Pre-sale closed

          .search-container
            %p I'm looking for
            .select-container
              = select_tag 'number_of_bedrooms', options_for_select(@options), class: 'selectize'

    .row
      .col-xs-12.text-center
        = submit_tag 'Search', class: 'btn btn-lg btn-search'

.row.save-info
  .container-fluid.special
    .col-sm-2
    .col-sm-8.special-margin
      %h2 <strong>Save up to $10 000</strong>
      %h2.buy-heading when you buy online
      %h3.buy-info Welcome to the future of buying pre-construction residences. Pay a $2000 deposit online to reserve your suite and save up to $10 000 off list price. Complete the paperwork in person at the Lower Junction Gallery within 5 days to finalize your purchase.

.row
  .col-xs-12
    .container-fluid.special
      .row
        .col-sm-6
          .image-container
            = image_tag 'calgary-condos.jpg', alt: 'home', class: 'img-responsive'
            .explore-text
              = link_to about_path do
                %h2 Explore DEMO MRKT
                = image_tag 'icons/arrow-right-light.svg', alt: 'right-arrow'

        .col-sm-6
          .how-it-works-container
            %h1 How does it work?
            %ul
              %li 1. Search for suite within availabe layouts.
              %li 2. Add to Saved to explore and compare suite.
              %li 3. Complete checkout and pay refundable deposit.
              %li 4. Come to sale center and compelte process.
