.row
  - if @two_bedroom_unit_types.blank?
    .col-md-12.text-center
      %h1 Sorry, no results for 2 Bedrooms
      %p Use tabs to display search results or try to use less filters to find what you’re looking for
      %button.btn.btn-lg.btn-black Reset all filters
  - else
    - @two_bedroom_unit_types.each do |unit_type|
      .col-md-6
        .panel.panel-default.unit-panel{ data: { url: unit_type_unit_path(unit_type, unit_type.units.first) } }
          .panel-body
            %h1= unit_type.name
            - balcony_string = unit_type.balcony ? 'and balcony' : ''
            %p #{unit_type.interior_sqft} SQFT interior included #{pluralize(unit_type.number_of_bathrooms, 'bathroom')} #{balcony_string}
            .view-container{ style: 'display: flex; align-items: center; height: 25px;' }
              %p.view-text.hidden{ style: 'margin: 0; margin-right: 10px; font-size: 14px;' } View
              = image_tag('icons/arrow-right-dark.svg')
          .panel-footer{ style: 'display: flex; width: 100%; padding: 0px;' }
            .units-left{ style: 'width: 50%; padding: 10px 15px;' }
              %p <strong>Only #{unit_type.quantity_remaining} units left</strong>
            -#
              .price-container{ style: 'background: #1a1a1a; width: 50%; padding: 10px 20px;' }
                %p{ style: 'color: white;' } For $#{price_converter(unit.price)} #{unit.currency}
                %p{ style: 'color: #00aaff;' } Save $#{price_converter(unit.savings)} #{unit.currency}
