.trending-container
  .container
    .tab-content
      .tab-pane.active#one-bed{ role: "tabpanel" }
        = render 'one_bedroom_units'

      .tab-pane#two-bed{ role: "tabpanel" }
        = render 'two_bedroom_units'

      .tab-pane#three-bed{ role: "tabpanel" }
        = render 'three_plus_bedroom_units'


%ul.nav.nav-pills.bedrooms-filter{ role: "tablist" }
  %li.nav-item.bedroom.active
    = link_to '1 Bed', '#one-bed', 'data-toggle': "tab", role: "tab"
  %li.nav-item.bedroom
    = link_to '2 Bed', '#two-bed', 'data-toggle': "tab", role: "tab"
  %li.nav-item.bedroom
    = link_to '3+ Bed', '#three-bed', 'data-toggle': "tab", role: "tab"
  %li.nav-item.empty
  %li.filters
    = link_to 'Filters', '#'

.filters-container
  .container.text-left{ style: 'flex: 1;' }
    .row
      .col-xs-12
        %h1 Price Average
        %input{type: "range", min: "0", max: "5", value: "0", id: "price-average"}

    .row
      .col-xs-6
        %h1 Den
        %p.den{ data: { included: 'true' } } Included
        %p.den{ data: { included: 'false' } } Not Included
        = hidden_field_tag 'den'

      .col-xs-6
        %h1 Balcony
        %p.balcony{ data: { included: 'true' } } Included
        %p.balcony{ data: { included: 'false' } } Not Included
        = hidden_field_tag 'balcony'

    .row
      .col-xs-12
        %h1 Bathrooms
        .bathroom-container{style: 'display: flex; justify-content: space-between;'}
          %p.bathroom{ data: { number_of_bathrooms: '1' } } 1 Bathroom
          %p.bathroom{ data: { number_of_bathrooms: '2' } } 2 Bathrooms
          %p.bathroom{ data: { number_of_bathrooms: '3' } } 3+ Bathrooms

  .btn-container
    = link_to 'Decline', '#', class: 'btn-decline'
    = link_to 'Accept', '#', data: { url: search_units_path }, class: 'btn-accept'

= render 'shared/signup_modal'
= render 'shared/login_modal'