#floating-box
  - if @select_options.present?
    .units-dropdown.text-center{ style: 'background: white;' }
      %p Available suites in this layout
      .select-container
        = select_tag 'unit_number', options_for_select(@select_options, @selected_option), class: 'selectize'

  - if @unit.trending?
    .trending-container
      = image_tag('icons/bolt.svg')
      .trending-copy
        %p.title Trending now
        %p.description It's highly possible this suite will be sold out this week

  .price-container.text-center{ style: (@unit.trending? ? '' : 'border-top: 1px solid rgba(204, 204, 204, 0.8);') }
    %h2.price $#{@unit.price} CAD
    .parking-message
      %p.parking Parking and storage not included
      = fa_icon 'question-circle', class: 'parking-tip', data: { toggle: 'tooltip' }, title: 'Parking and storage available for purchase when finalizing your purchase with the sales team.'

  .checkout-container.text-center
    %h1 $3000 CAD
    %p Deposit required to buy selected suite

    - if @unit.available?
      - if sale_state == 'pre_sale_not_started'
        %button.btn.btn-success.btn-block.btn-checkout{ disabled: true } Proceed to Checkout
        %p.checkout-message Pre-sale will be available soon
      - elsif sale_state == 'pre_sale_ended'
        %button.btn.btn-success.btn-block.btn-checkout{ disabled: true } Proceed to Checkout
        %p.checkout-message Pre-sale has ended
      - elsif user_signed_in?
        - if current_user.confirmed?
          - if (current_user.orders.successful.count.positive? || current_user.orders.pending_verification.count.positive?) && !current_user.allow_multiple_orders
            %button.btn.btn-success.btn-block.btn-checkout{ disabled: true } Proceed to Checkout
            %p.checkout-message
              Contact
              :erb
                <%= mail_to "help@lowerjct.com", nil, style: "font-weight: bold; text-decoration: underline; color: black;" %>
              to purchase additional suites
          - else
            = link_to new_unit_order_path(@unit), class: 'link-no-decoration' do
              %button.btn.btn-success.btn-block.btn-checkout Proceed to Checkout
        - else
          %button.btn.btn-success.btn-block.btn-checkout{ disabled: true } Proceed to Checkout
          %p.checkout-message Please check your email to confirm your email address before continuing.
      - else
        = link_to '#', 'data-toggle': 'modal', 'data-target': '#signup-modal', 'data-dismiss': 'modal', class: 'link-no-decoration' do
          %button.btn.btn-success.btn-block.btn-checkout Proceed to Checkout
    - else
      %button.btn.btn-success.btn-block.btn-checkout{ disabled: true } Sold

  .unit-info-footer
    .watchers-container
      = image_tag('icons/eye-dark.svg')
      %p= pluralize(@unit_views, 'view')
    .people-saved-container
      = image_tag('icons/add-to-saved.svg')
      %p #{pluralize(@unit.users.count, 'person')} added to saved

.unit-info-row
  .container-fluid.special
    .row
      .col-sm-6.special-margin
        .unit-info-container{ style: 'margin-top: 40px;' }
          %h1{ style: 'margin: 0;' }= @unit_type.name
          - if user_signed_in?
            - if @unit.available?
              - unit_saved = @unit.likes.where(user: current_user).present?
              .saved-container{ style: 'display: flex; color: black; align-items: center;' }
                %h1{ style: 'margin: 0;' }
                  Suite #{@unit.unit_number}
                .saved-message{ style: 'margin-left: 12px;', data: { url: like_unit_path(@unit) } }
                  - if unit_saved
                    = image_tag('icons/saved.svg')
                    %p Saved
                  - else
                    = image_tag('icons/add-to-saved.svg')
                    %p Add to Saved
            - else
              %h1{ style: 'margin: 0;' }
                Suite #{@unit.unit_number}

          - else
            = link_to '#', 'data-toggle': 'modal', 'data-target': '#signup-modal', 'data-dismiss': 'modal', class: 'login-link' do
              .saved-container{ style: 'display: flex; color: black; align-items: center;' }
                %h1{ style: 'margin: 0;' }
                  Suite #{@unit.unit_number}
                .saved-message{ style: 'margin-left: 12px;', data: { url: '' } }
                  = image_tag('icons/add-to-saved.svg')
                  %p Add to Saved

          .row.unit-content
            .col-xs-4
              %p Bedrooms
              %h2= @unit_type.number_of_bedrooms.zero? ? 'S' : @unit_type.number_of_bedrooms.to_s
            .col-xs-4
              %p Den
              %h2= @unit_type.den ? 'Included' : 'Not Included'
            .col-xs-4
              %p Interior SQFT
              %h2= @unit_type.interior_sqft.to_s

          .row.unit-content
            .col-xs-4
              %p Bathrooms
              %h2= @unit_type.number_of_bathrooms.to_s

            .col-xs-4
              %p Balcony
              %h2= @unit_type.balcony ? 'Included' : 'Not Included'

            .col-xs-4
              %p Balcony SQFT
              %h2= @unit_type.balcony_sqft.to_s

          .row.unit-content
            .col-xs-4
              .height-container
                %p Floor No.
                %h2= @unit.floor_number.to_s

                %p Side of the bldg.
                %h2.orientation
                  = image_tag(@unit.orientation_arrow, class: "arrow-svg")
                  = @unit.orientation.to_s

            .col-xs-4
              = image_tag @unit.key_map_top_image_url, class: 'img-responsive', style: 'height: 120px;'
            .col-xs-4
              = image_tag @unit.key_map_side_image_url, class: 'img-responsive', style: 'height: 120px;'

.floorplan-row
  .container-fluid.special
    .row
      .col-sm-6.special-margin
        %h1 Floorplan

        .floor-plan-container
          .floor-plan-image
            = image_tag 'icons/zoom-in.svg', class: 'zoom-in'
          .picture{ itemscope: '', itemtype: 'http://schema.org/ImageGallery' }
            %figure{ itemprop: 'associatedMedia', itemscope: '', itemtype: 'http://schema.org/ImageObject' }
              = link_to image_path(@unit_type.floor_plan_image_url), itemprop: 'contentUrl', data: { index: '0' } do
                = image_tag @unit_type.floor_plan_image_url, alt: @unit_type.name, height: '400', itemprop: 'thumbnail', class: 'img-responsive', id: 'floor-plan-image'

        %p.unit-type-description= @unit_type.description

.aesthetic-row
  .container-fluid.special
    .row
      .col-sm-6.special-margin
        #view-carousel
          .carousel-item
            .carousel-item-heading
              %h1 Kitchen
            = image_tag 'kitchen.jpg', class: 'img-responsive'
          .carousel-item
            .carousel-item-heading
              %h1 Living Room
            = image_tag 'living-room.jpg', class: 'img-responsive'
          .carousel-item
            .carousel-item-heading
              %h1 Bath
            = image_tag 'bathroom.jpg', class: 'img-responsive'
          .carousel-item
            .carousel-item-heading
              %h1 Bedroom
            = image_tag 'bedroom.jpg', class: 'img-responsive'
        %h1 Aesthetic
        %p.aesthetic Designed by TACT Architecture, West Market rises 15 storeys and neighbours the Museum of Contemporary Art in the iconic Auto Building. Its mixed material facade is punctuated with wood clad cutouts, floating green spaces, and generous balconies.
        = link_to 'Full specification', specifications_path, target: '_blank', class: 'link-animation'

.pswp{ 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1' }
  .pswp__bg{ style: 'opacity: 1;' }
  .pswp__scroll-wrap
    .pswp__container
      .pswp__item
      .pswp__item
      .pswp__item
    .pswp__ui.pswp__ui--hidden
      .pswp__top-bar
        .pswp__counter
        %button.pswp__button.pswp__button--close{ title: 'Close (Esc)' }
        %button.pswp__button.pswp__button--fs{ title: 'Toggle fullscreen' }
        %button.pswp__button.pswp__button--zoom{ title: 'Zoom in/out' }
        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut
      %button.pswp__button.pswp__button--arrow--left{ title: 'Previous (arrow left)' }
      %button.pswp__button.pswp__button--arrow--right{ title: 'Next (arrow right)' }
      .pswp__caption
        .pswp__caption__center
