- if user_signed_in?
  - if @unit.available?
    - unit_saved = @unit.likes.where(user: current_user).present?
    .saved-container{ style: (unit_saved ? 'background: #64c879;' : 'background: #ff5353;'), data: { url: like_unit_path(@unit) } }
      %p Save $#{price_converter(@unit.savings)} CAD
      .saved-message
        - if unit_saved
          = image_tag('icons/tick-white.svg')
          %h2 Added to Saved
        - else
          = image_tag('icons/add-white.svg')
          %h2 Add to Saved
  - else
    .saved-container{ style: 'background: #ff5353;' }
      .saved-message
        %h2 Sold

- else
  = link_to '#', 'data-toggle': 'modal', 'data-target': '#signup-modal', 'data-dismiss': 'modal', class: 'login-link' do
    .saved-container{ style: 'background: #ff5353;' }
      %p Save $#{price_converter(@unit.savings)} CAD
      .saved-message
        = image_tag('icons/add-white.svg')
        %h2 Add to Saved

= render 'shared/signup_modal'
= render 'shared/login_modal'