.container-fluid.special
  %nav.navbar
    .nav-block
      - if params[:controller] == 'orders/steps' && (params[:id] == "update-personal-info" || params[:id] == "finalize-payment" )

        - session[:back_url_step_1] = url_for(:back) if params[:id] == "update-personal-info" && !url_for(:back).include?('finalize-payment')
        - session[:back_url_step_2] = url_for(:back) if params[:id] == "finalize-payment"
        - previous_page = params[:id] == "update-personal-info" ? session[:back_url_step_1] : session[:back_url_step_2]

        = link_to previous_page, class: 'back-link' do
          = image_tag "icons/arrow-left.svg", class: 'img-responsive'
          %span Back

        .logo-right
          = image_tag 'icons/logo.svg', class: 'img-responsive logo-right'

      - else
        .hamburger-container
          .menu-hamburger
            %span#one
            %span#two
            %span#three
          .menu-title
            %p Menu

        .logo
          = image_tag 'icons/logo.svg', class: 'img-responsive logo'
        .saved-icon
          = render 'shared/saved_count'