.right-sidebar-nav
  - if user_signed_in? && !current_user.confirmed?
    .confirmation-container.text-center{ style: 'background: #ff5353;' }
      %h2 Confirm your email to make a purchase
      %h2.email
        %strong #{current_user.email}
        = link_to confirmation_path, method: :post do
          %button.btn.btn-white{style: 'margin-top: 20px;'} Resend email confirmation

  - else
    .notification-container.text-center
      %p Only registered users can save and purchase units
      %h5
        = link_to 'Sign Up', '#', 'data-toggle': 'modal', 'data-target': '#signup-modal', 'data-dismiss': 'modal'
        or
        = link_to 'Log In', '#', 'data-toggle': 'modal', 'data-target': '#login-modal', 'data-dismiss': 'modal'

  .saved-units-container
    = render 'shared/saved_units'
