%ul.sidebar-nav
  %li.search-unit-container
    .input-text-wrap
      = label_tag 'Search by Unit Number', nil, class: 'input-text-label'
      = text_field :search, required: true, class: 'form-control'

  = link_to root_path do
    %li.sidebar-item
      .sidebar-item-text
        Home
  = link_to units_path do
    %li.sidebar-item
      .sidebar-item-text
        Units
  = link_to about_path do
    %li.sidebar-item
      .sidebar-item-text
        About
  = link_to root_path do
    %li.sidebar-item
      .sidebar-item-text
        Help
  - if user_signed_in?
    = link_to edit_user_registration_path do
      %li.sidebar-item
        .sidebar-item-text
          My Account

    = link_to destroy_user_session_path, method: :delete do
      %li.sidebar-item
        .sidebar-item-text
          Sign Out

  / - else
  /   %li.sidebar-item
  /     .sidebar-item-text
  /       Sign Up or Log In
