!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }/
    -# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags

    %title RailwayMrkt
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

    -# Loading Typekit font
    = javascript_include_tag 'https://use.typekit.net/nff7niv.js'
    :javascript
      try {
        Typekit.load({ async: true });
      } catch(e) {

      }
  %body{ class: "#{controller_path.tr('_', '-').tr('/', '-')} #{action_name.tr('_', '-')}" }
    .wrapper
      .sidebar
        = render 'layouts/sidebar'
      .right-sidebar
        = render 'layouts/right_sidebar'
      = render 'layouts/navigation'
      %main{ role: 'main' }
        = yield
      %footer
        = render 'layouts/footer'