#floating-box.hidden-xs
  .unit-info-container.text-center
    %p #{@unit.unit_type.name}
    %p.unit-number
      %strong Suite #{@unit.unit_number}

  .price-container.text-center
    %h2.price $#{@unit.price} CAD
    %p Total price of suite

  .checkout-container.text-center
    %h2
      %strong $3000 CAD
    %p Deposit required to buy selected suite

= simple_form_for(@order, url: wizard_path, method: :put) do |f|
  .container-fluid.special
    .row
      .col-sm-6.special-margin
        .personal-info-container
          %h1 Purchase details
          %p You've signed up with <strong>#{current_user.email}</strong>
          %p Please ensure the information provided below matches a piece of photo ID. You will be required to present your photo ID when finalizing your purchase with the sales team.

          %h1 Personal
          .form-inputs
            = f.simple_fields_for :user do |u|
              .row
                .col-sm-6
                  .input-text-wrap
                    = u.label 'First Name', class: 'input-text-label', required: true
                    = u.input :first_name, label: false
                    %span.form-control-feedback= fa_icon 'check'
                .col-sm-6
                  .input-text-wrap
                    = u.label 'Last Name', class: 'input-text-label', required: true
                    = u.input :last_name, label: false
                    %span.form-control-feedback= fa_icon 'check'
              .row
                .col-sm-6
                  .input-text-wrap
                    = u.label 'Phone', class: 'input-text-label', required: true
                    = u.input :phone_number, label: false
                    %span.form-control-feedback= fa_icon 'check'
                .col-sm-6
                  .input-text-wrap
                    = u.label 'Occupation', class: 'input-text-label', required: true
                    = u.input :occupation, label: false
                    %span.form-control-feedback= fa_icon 'check'

          %h1 Address
          .form-inputs
            = f.simple_fields_for :address do |a|
              .row
                .col-sm-6
                  .input-text-wrap
                    = a.label 'Address line 1', class: 'input-text-label'
                    = a.input :street_1, label: false
                    %span.form-control-feedback= fa_icon 'check'
                .col-sm-6
                  .input-text-wrap
                    = a.label 'Address line 2 (optional)', class: 'input-text-label', required: false
                    = a.input :street_2, label: false
                    %span.form-control-feedback= fa_icon 'check'
              .row
                .col-sm-6
                  .input-text-wrap.country-input
                    = a.label 'Country', class: 'input-text-label'
                    = a.input :country_code, label: false, disabled: true, input_html: { value: 'Canada' }
                    = a.input :country_code, as: :hidden, input_html: { value: 'Canada' }
                    %span.form-control-feedback= fa_icon 'check'
                .col-sm-6
                  .input-text-wrap
                    = a.label 'Province', class: 'input-select-label'
                    = a.input :state, collection: Address.select_options_for_province, include_blank: false, label: false, selected: 'ON', input_html: { class: 'selectize' }
                    %span.form-control-feedback= fa_icon 'check'
              .row
                .col-sm-6
                  .input-text-wrap
                    = a.label 'Postal Code', class: 'input-text-label'
                    = a.input :postal_code, label: false
                    %span.form-control-feedback= fa_icon 'check'
                .col-sm-6
                  .input-text-wrap
                    = a.label 'City', class: 'input-text-label'
                    = a.input :city, label: false
                    %span.form-control-feedback= fa_icon 'check'

        .final-check-container
          %h1 Final Check
          %h2
            %strong #{@unit.unit_type.name} Suite #{@unit.unit_number}
          .row
            .col-xs-3
              %p.title Floor No.
              %h2.content #{@unit.floor_number}

              %p.title Side of the bldg.
              %h2.content #{@unit.orientation}

            .col-xs-3
              %p.title Den
              %h2.content #{@unit.unit_type.den  ? 'Included' : 'Not Included'}

              %p.title Balcony
              %h2.content #{@unit.unit_type.balcony ? 'Included' : 'Not Included'}

            .col-xs-3
              %p.title Bedrooms
              %h2.content #{@unit.unit_type.number_of_bedrooms}

              %p.title Bathrooms
              %h2.content #{@unit.unit_type.number_of_bathrooms}

            .col-xs-3
              %p.title Interior SQFT
              %h2.content #{@unit.unit_type.interior_sqft}

              %p.title Balcony SQFT
              %h2.content #{@unit.unit_type.balcony_sqft}

        .promo-container
          .row
            .col-xs-6.col-md-6.col-lg-5
              .form-inputs
                .input-text-wrap
                  = f.label 'Promo Code (optional)', class: 'input-text-label'
                  = f.input :promo_code, label: false
                  %span.form-control-feedback= fa_icon 'check'

        #floating-box.visible-xs{ style: 'margin: 40px 0 40px 0;' }
          .unit-info-container.text-center
            %p #{@unit.unit_type.name}
            %p.unit-number
              %strong Suite #{@unit.unit_number}

          .price-container.text-center
            %h2.price $#{@unit.price} CAD
            %p Total price of suite

          .checkout-container.text-center
            %h2
              %strong $3000 CAD
            %p Deposit required to buy selected suite

        .form-actions.text-left
          = f.button :submit, 'Next', class: 'btn btn-info btn-lg btn-next'
